/* Style the sidebar container */
.sidebar {
    width: 250px;
    height: 675px;
    padding: 20px;
    background-color: #343a40;
    color: #fff;
    font-family: 'Oxanium', sans-serif;
}

.profile-info h1 {
    font-size: large;
}

/* Style individual sidebar links */
.sidebar a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 5px 0;
    margin-left: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #444;
}

/* Enlarge icon within the button */
.sidebar a i {
    font-size: 2rem;
    transition: transform 0.9s;
    margin: 0px 20px;
    left: 30px;
}

/* Style for the hidden text (menu item label) */
.sidebar a span {
    position: absolute;
    display: none;
    left: 65px;
    top: 21px;
    /* opacity: 0; */
    white-space: nowrap;
    font-size: 1.2rem;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(-10px);
    color: white;
}

/* Hover effect to show text and adjust icon */
.sidebar a:hover {
    display: inline-block;
    width: 150px;
    height: 70px;
    /* align-items: start; */
    border-radius: 50px;
    background-color: #007bff;
    transform: scale(1.1);
}


/* .sidebar a:hover i {
    align-items: start;
    transform: scale(1.2);
} */

.sidebar a:hover span {
    display: inline-block;
    transform: translateX(0);
}

.list-unstyled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}